<ion-header>
  <ion-toolbar color="success">
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Make a selection</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-radio-group value="custom-checked">
        <ion-radio value="custom-checked" labelPlacement="end">First Choice</ion-radio><br />
        <ion-radio value="custom" labelPlacement="end">Second Choice</ion-radio>
      </ion-radio-group>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Contact Info</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-input type="text" label="Name" labelPlacement="floating" placeholder="Enter text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="email" label="Email" labelPlacement="floating" placeholder="Enter text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="password" label="Password" labelPlacement="floating" placeholder="Enter text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="password" label="Confirm Password" labelPlacement="floating" placeholder="Enter text"></ion-input>
      </ion-item>
        
    </ion-card-content>
  </ion-card>
  <ion-button color="light" expand="block">Register</ion-button>
</ion-content>
